
html, body {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: #333;
}

.container {
    width: 30%; 
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 90px; 
}

h1 {
    text-align: center;
    color: #007bff;
}
h2{
    text-align: center;
    color: black;
}

p {
    line-height: 1.5;
}

form {
    max-width: 400px; 
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color:black;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


button {
    display: block; 
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none; 
    border-radius: 5px;
    cursor: pointer;
}


input[type="submit"]:hover {
    background-color: #0056b3;
}
.container{
    color:white ;
}