/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* styles_payment.css */

#cardNumberContainer {
    margin-top: 10px; /* Add margin to separate it from the radio buttons */
}

#cardNumberContainer input {
    margin-bottom: 5px; /* Add margin below each input field */
}
#cardNumber,
#pinNumber {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Container styles */
.container {
    max-width: 600px;
    margin: 50px auto; /* Center the container horizontally */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Heading styles */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Form styles */
form {
    text-align: left;
}

/* Payment option styles */
input[type="radio"] {
    margin-bottom: 10px;
}
#phonePeUPIID {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
#googlePayUPIID {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Submit button styles */
input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Label styles */
label {
    margin-left: 5px;
    margin-bottom: 10px; /* Add margin below each label */
    padding-top:10px;
}
