body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container1 {
            text-align: center; /* Center align the contents */
            margin: 0 auto; /* Horizontally center the container */
            width: 80%; /* Set a width for the container */
        }
.back-link {
            display: block;
            margin-top: 10px;
}

.selected-material {
    font-weight: bold;
    color: #ff5733;
}

.button-container {
    display: none; 
    margin-top: 10px; 
    text-align: center; 
}

#continue-ordering-btn {
    padding: 10px 20px;
    background-color: #28a745; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#continue-ordering-btn:hover {
    background-color: #218838; 
}


h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    text-align: center;
}

input[type="radio"] {
    margin-right: 10px;
}
.button-row {
    display: inline-block;
    margin-top: 10px;
}

.button-row button {
    margin-right: 10px;
}


.video-container {
    display: inline-block;
    margin: 0 10px;
}
