body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.container {
    text-align: center; /* Center align contents */
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange items in a column */
    align-items: center; /* Center align items horizontally */
}

.container img {
    max-width: 100%; /* Ensure the image does not exceed the container width */
    max-height: 100%; /* Ensure the image does not exceed the container height */
    margin-bottom: 30px; /* Add margin to the bottom of the image */
    margin-top: -40px; /* Ensure the image does not exceed the container height */
}

.button1,.button2 {
    display: block; /* Ensure the button behaves as a block element */
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    margin-top: 20px; /* Add margin to the top of the button */
    text-decoration: none;
}
h1{
    color:white;
}
h4{
    color:white;
}
.button2{
    text-decoration: none;
}
