
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: black;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;  
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color:white;
    text-align: center;
    width : 100%;
    font-size: 50px;
}

p {
    color: black;
    padding-left: 20px;
}

.username {
    font-weight: bold;
    color: #007bff;
}
.percentage-poll-tab {
    width: 480px; 
    background-color: darkgray; 
    padding: 10px; 
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
    align-items: end;
    max-height: 10px;
}
.overview-button,.about-button,.order-button,.product-button,.help-button {
    position: absolute;
    display: block;
    width: 150px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    right: 1200px;
    padding: 10px 20px;
}
.about-button {
    right: 960px;
}
.product-button {
    right: 720px;
}
.order-button {
    right: 480px;
}
.help-button{
    right: 240px;
}
.container{
    
    max-width: 500px;
    min-height: 200px;
    padding: 20px;
    
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.overview-container p {
    color: blue; 
    font-size: 20px; 
    font-weight: bold; 
}
.hi-text {
    color: black; 
    margin-top:100px ;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 10px;
}
.hi-container {
    display: none;
    margin-top: 100px;
    max-width: 500px;
    min-height: 170px;
    text-align:left;
    /*display: block;*/
    justify-content: center; 
    align-items: flex-end;
    background-color: white;
    border-radius: 8px;
    
}
.hidden-container1{
    display: none;
    background-color: yellow;
    min-height: 160px;
    border-radius: 8px;  
    align-items: left;  
}

.c{
    color:white;
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
}

.parallel-container {
    display: flex;
    padding: 10px;
}

.inner-container1, .inner-container2{
    flex: 1; 
    border: 1px solid black; 
    padding: 10px;
    margin-right: 10px; 
    min-height: 60px;
    border-radius: 8px;
    color:white;
    background-color: darkgray;
}
.con{
    color:white;
    text-align: left;
}



