
h1 {
    text-align: center; 
    color: #333; 
    font-size: 52px; 
    margin-bottom: 20px; 
}

p {
    text-align: center;
    color: #666; 
    font-size: 18px; 
    margin-bottom: 20px; 
}
h2 {
    text-align: center; 
    color: #333; 
    font-size: 34px; 
    margin-bottom: 20px; 
}
.parallel-containers {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.container3 {
    text-align: center;
    margin: 0 5px;
    border: 2px solid #ccc;
    padding: 10px;
}
.container {
    text-align: center;
    margin: 0 10px;
    border: 5px solid blue;
    padding: 80px;
    border-radius: 8px;
}
.container2 {
    text-align: center;
    margin: 0 10px;
    border: 5px solid seagreen; 
    padding: 80px; 
    border-radius: 8px;
}

/* Style for the button text */
.btn-text {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff; 
    color: #fff; 
    border-radius: 5px;
    text-decoration: none;
}


.btn-text:hover {
    background-color: #0056b3; 
}

.container img {
    width: 30px;
    height: 30px; 
}



.container1 {
    text-align: center; 
    margin-bottom: 20px;
    border: 5px solid blue;
    border-radius: 8px;
    padding:10px;
}

.video-container {
    display: inline-block;
    margin: 0 10px;
}

.parallel-containers1 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    padding: 20px;
}