{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="{% static 'styles5.css' %}">
    <script src="custom2.js"></script>
</head>
<body>   
        <h1>E-Waste Education</h1>
        <p>Earn rewards, complete against friends and become more confident about the issue of e-waste.</p>
        <h2>Categories</h2>
        <div class="parallel-containers">
            <div class="container">
                
                <img src="{% static 'images/cause.jpeg' %}"  alt="Icon" style="width: 30px; height: 30px;"> 
                <h2><a href="causes.html" class="btn-text">Causes</a></h2>
            </div>
            <div class="container">
                <img src="{% static 'images/effect.png' %}" alt="Icon" style="width: 30px; height: 30px;">
                <h2><a href="effect.html" class="btn-text">Effect</a></h2>
            </div>
            <div class="container">
                <img src="{% static 'images/solution.jpeg' %}" alt="Icon" style="width: 30px; height: 30px;">
                <h2><a href="solutions.html" class="btn-text">Solutions</a></h2>
            </div>
        </div>
        <h2 style="color: green;">Jump Back In</h2>
     <div class="parallel-containers1" >   
    <div class="container1">
        <div class="video-container">
            <h2>Causes</h2>
            <video controls width="400" height="200">
                <source src="{% static 'videos/Causes.mp4' %}" type="video/mp4">
            </video>
        </div>
    </div>
    <div class="container1">
        <h2>Effect</h2>
        <div class="video-container">
            <video controls width="400" height="200">
                <source src="{% static 'videos/Effect.mp4' %}" type="video/mp4">
            </video>
        </div>
    </div>
    <div class="container1">
        <h2>Solutions</h2>
        <div class="video-container">
            <video controls width="400" height="200">
                <source src="{% static 'videos/Solutions.mp4' %}" type="video/mp4">
            </video>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'custom2.js' %}"></script>

        <h2>E-Waste Statistics</h2>
        <div class="parallel-containers">
            <div class="container2">
                <img src="{% static 'images/stat1.png' %}" style="width: 200px; height: 200px;"> 
            </div>
            <div class="container2">
                <img src="{% static 'images/stat2.png' %}"  style="width: 200px; height: 200px;">
            </div>
            <div class="container2">
                <img src="{% static 'images/stat3.png' %}" style="width: 200px; height: 200px;">
            </div>
        </div>
    </div>
</body>
</html>
