{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles8.css' %}">
</head>
<body>
    <div class="cart-container">
        <h1>Shopping Cart</h1>
        <div>
            <h2>Cart Items</h2>
            <ul>
                {% for item in cart_items %}
                <h1>Hi</h1>
                <li class="cart-item">
                    <h3 class="product-name">{{ item.product.title }}</h3>
                    <p class="product-price">Price: ${{ item.product.price }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>



    <div class="cart-links">
            <a href="{% url 'product' %}">Continue Shopping</a>
            <a href="{% url 'order' %}">Proceed to Checkout</a>
    </div>

</body>
</html>

<!--{% load static %}
<div class="small-container cart-page">
    {% if cart and cart.added_items.all %}
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Subtotal</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for cart_item in cart.added_items.all %}
            <tr>
                <td>
                    <div class="cart-info">
                        <img src="{{ cart_item.product.image.url }}">
                        <div>
                            <p>{{ cart_item.product.title }}</p>
                            <small>Price: ${{ cart_item.product.price }}</small>
                            <br>
                            
                        </div>
                    </div>
                </td>
                <td><input type="number" disabled value="{{ cart_item.price }}"></td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="total-price">
        <table>
            <tbody>
                
           <tr><td colspan="2"></td><td>
        <form method='post' action="{% url 'order' %}" enctype="multipart/form-data">
    {% csrf_token %}
    Assuming you want to pass the product_id of the first item in the cart
    <input type="hidden" name="product_id" value="{{ cart.added_items.first.product.id }}">
    <button type="submit" class="btn">Confirm</button>
</form>
</td>
</tr>
</tbody></table>
    </div>
    {% else %}
    <p>Ordered</p>
    {% endif %}
</div>-->
