{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <link rel="stylesheet" href="{% static 'styles7.css' %}">
</head>
<body>
    <div class="container">
        <div class="container1">
    <header>
        <h1>Help</h1>
    </header>
</div>

    <main>
        <section>
            <h2>Contact Us</h2>
            <h3>If you need further assistance, please contact us:</h3>
            <ul>
                <li>Email: ameesha468@example.com</li>
                <li>Phone: 9995970768</li>
            </ul>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 E-Waste Management System . All rights reserved.</p>
    </footer>
</div>
</body>
</html>
