{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'styles3.css' %}">
    <style>
        .container {
            margin-bottom: 20px; /* Add margin below container */
        }
        p {
            margin-top: 20px; /* Add margin above paragraph */
        }
    </style>
</head>
<body>
    <div class ="container">
        <h1>Home</h1>
        {% if username %}
            <h1>Hello, {{ username }}!</h1>
        {% else %}
            <h1>Hello, Guest!</h1>
        {% endif %}
    </div>
    <a href="overview.html" class="overview-button">Overview</a>
    <a href="about.html" class="about-button">About</a>
    <a href="product_list.html" class="product-button">Products</a>
    <a href="order.html" class="order-button">Order</a>
    <a href="contact.html" class="help-button">Help</a>
    <div class="container">
        <p>This is a paragraph below the buttons.</p>
    </div>
</body>
</html>
