

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
	<div class="container">
   <img src="{% static 'images/Sign in.jpg'  %}" width="400px">
   <h1>The only productivity app you need</h1>
    <button class="button1">Login</button>
    <a href="signup.html" class="button2">Sign Up</a>
    <h4>By continuing you agree to the terms and conditions</h4>
</div>
</div>
</body>
</html>