<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Detail</title>
</head>
<body>
    <h1>Product List</h1>
   <div class="product-list-container">
    {% for product in Products %}
        <a href="{% url 'product_detail' product.id %}" class="product-link">
            <div class="product-item">
                <h2 class="product-title">{{ product.title }}</h2>
                <p class="product-description">{{ product.description }}</p>
                <p class="product-price">${{ product.price }}</p>
            </div>
        </a>
    {% endfor %}
</div>
</body>
</html>
