{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Order</title>
    <link rel="stylesheet" href="{% static 'styles7.css' %}">
</head>
<body>
    <div class="container">
        <h1>Thank you for submitting your Order</h1>
        <a href="product_list.html" class="back-link">Products</a>
        <a href="order_track.html" class="back-link">Track Order</a>
</body>
</html>
